.map {
  .wrapper {
    width: 100%;
  }

  .map-btn {
    background-color: transparent;
    padding: 0;
    border: none;
    line-height: 0;
    margin: 0 5px;
  }

  .map-container {
    border: $border-width $border-style $border-color;
    background-color: #eee;
    position: relative;
    padding-top: calc(9 / 16 * 100%);
  }

  .layer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
    max-width: 100%;
    overflow: scroll;

    .layer-row {
      display: flex;
      flex-wrap: nowrap;

      .layer-column {
        display: inline-flex;
      }
    }
  }

  .layer.no-scroll {
    overflow: hidden !important;
  }
}