.map {
  @extend .border;
  @extend .border-radius;
  @extend .p-md;
  @extend .pb-0;
  @extend .mb-md;
  @extend .mb-md;
  @extend .shadow;

  .wrapper {
    width: 100%;
  }

  .map-controls {
    @extend .mb-md;
  }

  .map-control {
    background-color: transparent;
    padding: 0;
    border: none;
    line-height: 0;
    margin: 0 5px;
  }

  .map-container {
    @extend .border;
    @extend .border-radius;
    @extend .mb-md;
    aspect-ratio: 4 / 3;
    overflow: scroll;
    position: relative;
  }

  .map-container.no-scroll {
    overflow: hidden !important;
  }

  .layer {
    position: absolute;
    top: 0;
    left: 0;

    .layer-row {
      display: flex;
      flex-wrap: nowrap;

      .layer-column {
        display: inline-flex;
      }
    }
  }

  .layer.hidden {
    display: none;
  }

  .tile {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    container-type: inline-size;
  }

  .tile.bordered {
    border: 1px solid #333;
  }

  .tile-value {
    font-family: monospace;
    font-size: 20cqw;
  }

  .tile-coordinates {
    position: absolute;
    top: 5px;
    right: 5px;
    font-family: monospace;
    font-size: 15cqw;
  }
}