.nav {
  @extend .fixed-top;
  @extend .py-sm;
  @extend .border-bottom;
  @extend .shadow;
  background-color: var(--body-background);

  .nav-items {
    @extend .flex;
    @extend .flex-ai-center;
  }
  .nav-item {
    @extend .mr-sm;
    @extend .mb-0;
    text-decoration: none;
    color: var(--body-color) !important;
  }

  select {
    @extend .mb-0;
  }
}
