.picker {
  .tile {
    user-select: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    position: relative;

    &.active {
      outline: 2px solid pink;
      outline-offset: -2px;
    }
  }
}