.tiles {
  .tile {
    @extend .border;
    @extend .mr-sm;
    display: inline-block;
    cursor: pointer;
    width: 32px;
    height: 32px;
  }

  .tile.active {
    outline: 3px solid #308CC6;
    outline-offset: -3px;
  }

  .tile:hover {
    outline: 3px solid #308CC6;
    outline-offset: -3px;
  }
}