@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "typography";
@import "components/map";
@import "components/tile";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.scss";

body.no-scroll {
  max-height: 100vh !important;
  max-width: 100vw !important;
  overflow: hidden !important;
}