@import "neat";
@import "components/language-selector";
@import "components/layers";
@import "components/nav";
@import "components/map";
@import "components/tile";
@import "bootstrap-icons";

body {
  padding-top: 80px;
}

body.no-scroll {
  max-height: 100vh !important;
  max-width: 100vw !important;
  overflow: hidden !important;
}

fieldset {
  @extend .shadow;
}